{% extends "@HohayaUser/Utilisateur/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <a href="{{ path('mica_dashboard') }}">Retourner sur la page d'administration</a>
{% endblock fos_user_content %}
